[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/nanobenchmark"]
	path = third_party/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third_party/boost-cmake"]
	path = third_party/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/ClickHouse/zlib-ng.git
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/ClickHouse/poco.git
[submodule "contrib/protobuf"]
	path = contrib/protobuf
	url = https://github.com/ClickHouse/protobuf.git
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/ClickHouse/rapidjson
[submodule "contrib/grpc"]
	path = contrib/grpc
	url = https://github.com/ClickHouse/grpc.git
[submodule "contrib/boringssl"]
	path = contrib/boringssl
	url = https://github.com/ClickHouse/boringssl.git
[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://github.com/google/re2.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "contrib/llvm"]
	path = contrib/llvm
	url = https://github.com/ClickHouse/llvm
